$education-item-padding: 24px !default;
$education-item-bg-color: #efefef !default;
$education-item-link-color: $accent-color !default;
$education-item-link-color-light: lighten($education-item-link-color, 20%) !default;
$education-item-title-font-size: 1.5rem;
$education-item-title-font-size-small: 1.25rem;

.education-items {
    display: grid;
    gap: 2rem;
    padding: 1rem 0 4rem;

    @include sm() {
        grid-template-columns: 1fr 1fr;
    }
}

.education-item {
    .education-item-image {
        @extend .z-depth-1;
        background-color: $card-bg-color;
        border-radius: $base-border-radius-large;
        margin: $element-top-margin 0 $element-bottom-margin 0;
        overflow: hidden;
        position: relative;
        transition: box-shadow 0.25s;
        box-shadow: 10px, 10px, 10px rgba($color: $onyx, $alpha: 0.03);

        // Image background for content
        img {
            display: block;
            position: relative;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            height: 100%;
            width: 100%;
            object-fit: cover;
            height: 200px;
        }

        video {
            width: 100%;
            height: auto;
        }
    }

    .education-item-title {
        color: $education-item-bg-color;

        font-size: 24px;
        line-height: 28px;

        color: #ffffff;

        margin: 0;
    }

    .education-item-subtitle {
        font-size: 12px;
        line-height: 15px;
        /* identical to box height */

        text-transform: uppercase;

        color: #ffffff;
    }

    .education-item-tags {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(55px, auto));
        padding: 0.25rem 0;
        gap: 0.5rem;
        margin-top: 1rem;
    }
}
