.profile {
  display: grid;
  grid-template-rows: 1fr auto 1fr;
  height: calc(100vh - 60px);

  .profile-header {
    display: flex;
    flex-direction: column;
    align-items: center;

    .profile-image {
      height: 240px;
      width: 240px;
      overflow: hidden;
      border-radius: 100%;
      margin: 2rem 0 1rem;
      position: relative;

      // Image background for content
      img {
        display: block;
        position: relative;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
        min-height: 200px;
        box-shadow: inset 20px 20px 60px #cbcbcb, inset -20px -20px 60px #ffffff;
      }
    }

    .profile-name {
      text-align: center;
      text-transform: uppercase;
      letter-spacing: .02rem;

      small {
        display: block;
        margin: .5rem 0;
        font-size: .875rem;
        color: whitesmoke;
      }
    }
  }

  .profile-skills {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem 1rem;

    .profile-skills-item {
      width: 60px;
      height: 60px;
      border: 2px solid white;
      border-radius: 100%;
      display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 1rem;
    }
  }

  .divider {
    margin-bottom: 0;
  }

  .scroll-indicator {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding: 2rem 1rem;
  }
}
