.profile {
  display: grid;
  grid-template-rows: max-content 60px 1fr;
  gap: 1rem;
  height: calc(100vh - 92px);

  @include rwd(375px) {
    gap: 1.5rem;
  }
  

  .profile-header {
    display: flex;
    flex-direction: column;
    align-items: center;

    .profile-image {
      height: 200px;
      width: 200px;
      overflow: hidden;
      border-radius: 100%;
      margin: 1rem 0 1rem;
      position: relative;

      // Image background for content
      img {
        display: block;
        position: relative;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
        min-height: 200px;
        box-shadow: inset 20px 20px 60px #cbcbcb, inset -20px -20px 60px #ffffff;
      }
    }

    .profile-name {
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 0.02rem;

      @include rwd(320px) {
        font-size: 21px;
      }

      @include rwd(375px) {
        font-size: 28px;
      }

      small {
        display: block;
        margin: 0.5rem 0;
        font-size: 0.875rem;
        color: whitesmoke;
      }
    }
  }

  .profile-skills {
    display: flex;
    justify-content: center;

    .profile-skills-item {
      width: 60px;
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 1rem;
      border-radius: 50%;
      background: linear-gradient(145deg, #413c37, #37322e);
      box-shadow: 6px 6px 12px #34302b, -6px -6px 12px #46403b;

      &:active {
        border-radius: 50%;
        background: linear-gradient(145deg, #37322e, #413c37);
        box-shadow: 6px 6px 12px #34302b, -6px -6px 12px #46403b;
      }
    }
  }

  .divider {
    margin-bottom: 0;
  }

  .scroll-indicator {
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }
}

.intro {
  padding: 2rem 0;
}
