// Component class prefix
$prefix: null;

// Theme option
$theme: default;

// Base border-radius
$base-border-radius: 4px;
$base-border-radius-small: 2px;
$base-border-radius-large: 8px;

// Font and text
$base-font-size: 14px;
$base-text-color: #212529;

$border-color: #ced4da !default;
