
// Colors

$amber: #ffc107 !default;
$blue-grey: #607d8b !default;
$blue: #2196F3 !default;
$brown: #795548 !default;
$cyan: #00bcd4 !default;
$deep-orange: #ff5722 !default;
$deep-purple: #673ab7 !default;
$green: #4CAF50 !default;
$indigo: #3f51b5 !default;
$light-blue: #03a9f4 !default;
$light-green: #8bc34a !default;
$lime: #cddc39 !default;
$onyx: #3d3833 !default;
$orange: #f58026 !default;
$pink: #e91e63 !default;
$purple: #9c27b0 !default;
$red: #F44336 !default;
$skyblue: #00b7ef !default;
$teal: #009688 !default;
$yellow: #ffeb3b !default;
$midnight-blue: #191970 !default;
$midnight-blue-dark: #060c21 !default;
$carbon: #293542 !default;

// Grays

$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;

$black: #000000;
$white: #ffffff;

// Color maps

$colors: () !default;
$colors: map-merge((
  "red": $red,
  "pink": $pink,
  "purple": $purple,
  "deep-purple": $deep-purple,
  "indigo": $indigo,
  "blue": $blue,
  "light-blue": $light-blue,
  "cyan": $cyan,
  "teal": $teal,
  "green": $green,
  "light-green": $light-green,
  "lime": $lime,
  "yellow": $yellow,
  "amber": $amber,
  "orange": $orange,
  "skyblue": $skyblue,
  "onyx": $onyx,
  "deep-orange": $deep-orange,
  "brown": $brown,
  "blue-grey": $blue-grey,
  "gray": $gray-600,
  "gray-dark": $gray-800
), $colors);

$grays: () !default;
$grays: map-merge((
  "100": $gray-100,
  "200": $gray-200,
  "300": $gray-300,
  "400": $gray-400,
  "500": $gray-500,
  "600": $gray-600,
  "700": $gray-700,
  "800": $gray-800,
  "900": $gray-900
), $grays);

$shades: () !default;
$shades: map-merge((
  "black": #000000,
  "white": #FFFFFF,
  "transparent": transparent
), $shades);
