/* -- Font -- */

$font-size-h1: floor(($base-font-size * 2.6));
$font-size-h2: floor(($base-font-size * 2.15));
$font-size-h3: ceil(($base-font-size * 1.7));
$font-size-h4: ceil(($base-font-size * 1.5));
$font-size-h5: ceil(($base-font-size * 1.25));
$font-size-h6: $base-font-size;

$font-size-extra: 2.5rem;
$font-size-large: 2rem;
$font-size-md: 1.5rem;

$line-height-base: 1.428571429 !default;
$line-height-computed: floor(($base-font-size * $line-height-base));

$text-color: $gray-100;

$font-family-primary: "Montserrat", sans-serif !default;
$font-family-secondary: "Rubik", sans-serif !default;

$font-family-monospace: "Rubik Mono One", sans-serif, monospace !default;

$font-family-base: $font-family-primary !default;
$font-family-heading: $font-family-secondary !default;

$link-color: #2196f3 !default;
@if variable-exists(primary-color) {
  $link-color: $primary-color;
}
$link-decoration: none !default;
$link-hover-color: darken($link-color, 15%) !default;
$link-hover-decoration: underline !default;
